#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
<ol>
  <li>Python</li>
  <li>R</li>
  <li>SQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
  <li>Numpy</li>
  <li>Pandas</li>
  <li>ggplot2</li>
</ol>

| Data Science Tools  |
| :---------------- |
| Jupyter Notebooks   |
| RStudio      |
| Apache Zeppelin  |

###Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

Objectives:
<ul>
  <li>List popular languages for Data Science</li>
  <li>List commonly used libraries</li>
  <li>Show how to evaluate arithmetic expressions in Python</li>
</ul>

## Author
Mingjian Shen